body {
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 900px;
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}
.show-grid {
	margin-top: 10px;
	margin-bottom: 20px;
}
.show-grid:hover [class*="span"] {
	/*background: #DDD;*/
}
.show-grid [class*="span"] {
	/*background-color: #EEE;
	text-align: center;*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 40px;
	line-height: 40px;
}

.m-dotted {
	color: #106D9F;
	border-bottom: 1px dotted #106D9F;
	cursor: pointer;
}

.b-modal {
	position: relative;
	width: 500px;
	padding: 24px;
	background: #fff;
	border: 3px solid #bbb;
	border-radius: 10px;
}
.b-modal_close {
	position: absolute;
	right: 12px;
	top: 6px;
	font-weight: bold;
	color: #999;
	cursor:	pointer;
}
.b-modal_close:hover {
	color: #000;
}